<div *ngIf='_rounds' class="panel panel-primary">
	<div class="panel-heading clearfix" data-toggle="collapse" (click)='_isOpen=!_isOpen'>
		<div class="panel-title pull-left">Firearm ({{ _firearmName }}) - Rounds</div>
		<i class="fa fa-fw pull-right" [class.fa-chevron-up]='!_isOpen' [class.fa-chevron-down]='_isOpen'></i>
	</div>
	<div class="panel-collapse collapse" [class.in]="_isOpen">
			<div class="panel-body">
			<ul class="list-inline">
				<li *ngFor='let round of _rounds' (click)='select(round);' class='card' >
					<div class="well" [class.active]='currentRound===round'>
						<p class="lead">{{ round.name }}</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="panel-footer">
			<button class="btn btn-default" (click)='addRound();'><span class="fa fa-plus"></span> Add Round</button>
		</div>
	</div>
</div>
