.active {
    background-color: #555555;
    color: #ffffff;
}
li.card {
    cursor: pointer;
    width: 100%;
}
.well {
    font-size: 1.3em;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}