<div *ngIf='_firearms' class="card">
    <div class="card-heading bg-dark text-light clearfix p-2">
		Select Firearm
	</div>
	<div class="card-body">
		<ul class="list-inline">
			<li *ngFor='let firearm of _firearms' (click)='select(firearm);' class='card'>
				<div class="well" [class.active]='currentFirearm===firearm'>
					{{ firearm.name }}
				</div>
			</li>
		</ul>
	</div>
	<div class="card-footer">
		<button class="btn btn-lg btn-default" (click)='add();'><span class="fa fa-plus"></span> Add Firearm</button>
	</div>
</div>