.bal-chart .card-body {
	padding: 5px
}
.bal-chart .card-heading {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    height: 100%; /* Set the height of the container to 100% */
    padding-left: 5px;
}
.card-heading-spacer {
    flex-grow: 1; /* Expand to fill the remaining space */
}
.card-heading-button {
    margin: 5px 10px 5px 0px;
}

.bal-chart .font-size-small {
	font-size: 0.7em;
}
.bal-chart .tooltip {
	position: fixed;
}
/* These are needed to stop Bootstrap .tabkle-striped from changing the font */
.text-danger > * {
    color: rgb(255, 0, 0) !important;
}
.text-warning > * {
    color: rgb(255, 140, 0) !important;
}
@media screen and (min-width: 576px) {
    .bal-chart .font-size-small {
        font-size: 0.8em;
    }
}
@media (min-width: 992px) {
    .bal-chart .font-size-small {
        font-size: 0.9em;
    }
}
@media (min-width: 1200px) {
    .bal-chart .card {
        width: 1200px;
    }
}
