.bal-chart .card-body {
	padding: 5px
}
.bal-chart .card-heading {
    align-items: center;
    display: grid;
    justify-items: center;
    grid-template-columns: auto 60px;
    width: 100%;
}
.bal-chart .card-footer {
	background-color: rgb(227, 229, 237);
}
.bal-chart .font-size-small {
	font-size: 0.7em;
}
.bal-chart .tooltip {
	position: fixed;
}
/* These are needed to stop Bootstrap .tabkle-striped from changing the font */
.text-danger > * {
    color: rgb(220, 53, 69) !important;
}
.text-warning > * {
    color: rgb(255, 193, 7) !important;
}
@media screen and (min-width: 576px) {
    .bal-chart .font-size-small {
        font-size: 0.8em;
    }
}
@media (min-width: 992px) {
    .bal-chart .font-size-small {
        font-size: 0.9em;
    }
}
@media (min-width: 1200px) {
    .bal-chart .card {
        width: 1200px;
    }
}
