.d3-path-0 { stroke : MediumBlue !important; }
.d3-path-1 { stroke: FireBrick !important; }
.d3-path-2 { stroke: DarkGreen !important; }
.d3-path-3 { stroke: DarkViolet !important; }
.d3-path-4 { stroke: DodgerBlue !important; }
.d3-path-5 { stroke: Red !important; }
.d3-path-6 { stroke: LimeGreen !important; }
.d3-path-7 { stroke: DarkSlateGrey !important; }
.d3-path-8 { stroke: DeepSkyBlue !important; }
.d3-path-9 { stroke: DarkOrange !important; }
.d3-path-10 { stroke: MediumSpringGreen !important; }
.d3-path-11 { stroke: Violet !important; }
.d3-path-12 { stroke: Aqua !important; }
.d3-path-13 { stroke: Peru !important; }
