<div *ngIf="firearmId!=null || status==statusEnum.AddFirearm" class="card">
    <div class="card-heading bg-dark text-light d-flex p-2">
		<span *ngIf="status==statusEnum.AddFirearm">Add Firearm</span>
		<span *ngIf="status!=statusEnum.AddFirearm">Firearm - {{ firearm.name }}</span>
		<i class="fa fa-fw ml-auto" [class.fa-chevron-right]="!isOpen" [class.fa-chevron-down]="isOpen" (click)="isOpen=!isOpen"></i>
	</div>
	<div class="card-body" [class.collapse]="!isOpen">
		<form #form="ngForm" novalidate>
			<div class="form-group" [class.has-error]="nameControl.invalid && nameControl.dirty">
				<label class="control-label">Name</label>
				<div class="input-group margin-bottom-sm">
	                <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-file-o fa-fw"></i></div></div>
					<input type="text" name="name" [(ngModel)]="firearm.name" #nameControl="ngModel" class="form-control" placeholder="Name" required minlength="3"  maxlength="50">
				</div>
				<div [hidden]="nameControl.valid || nameControl.pristine" class="alert alert-danger">
					Name is required and must be between 3 and 50 characters
				</div>
			</div>
			<div class="form-group" [class.has-error]="sightHeightInchesControl.invalid && sightHeightInchesControl.dirty">
				<label class="control-label" data-toggle="tooltip" title="Measured form bore centerline to scope centerline">Sight Height (inches)</label>
				<div class="input-group margin-bottom-sm">
	                <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-crosshairs fa-fw"></i></div></div>
					<input type="number" name="sightHeightInches" [(ngModel)]="firearm.sightHeightInches" #sightHeightInchesControl="ngModel" class="form-control" placeholder="Sight Height (inches)" required min="0" max="20">
				</div>
				<div [hidden]="sightHeightInchesControl.valid || sightHeightInchesControl.pristine" class="alert alert-danger">
					Sight height is required.  Common heights are 1.5 to 2 inches
				</div>
			</div>
			<div class="form-group" [class.has-error]="zeroRangeControl.invalid && zeroRangeControl.dirty">
				<label class="control-label" data-toggle="tooltip" title="Range at which scope has been adjusted for point of aim = point of impact">Zero Range</label>
				<div class="input-group margin-bottom-sm">
	                <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-circle-o fa-fw"></i></div></div>
					<input type="number" name="zeroRange" [(ngModel)]="firearm.zeroRange" #zeroRangeControl="ngModel" class="form-control" placeholder="Zero Range" required min="25" max="3000" >
                    <select name="zeroRangeUnits" [(ngModel)]="firearm.zeroRangeUnits" #zeroRangeUnitsControl="ngModel" class="form-control" required>
                        <option [ngValue]='0'>Yards</option>
                        <option [ngValue]='1'>Meters</option>
                    </select>
				</div>
				<div [hidden]="zeroRangeControl.valid || zeroRangeControl.pristine" class="alert alert-danger">
					Zero range is required, so bullet drop can be calculated properly
				</div>
			</div>
			<div class="form-group" [class.has-error]="reticleUnitsControl.invalid && reticleUnitsControl.dirty">
				<label class="control-label" data-toggle="tooltip" title="Scope crosshair hash mark separation.  Usually Minutes of Angle (MoA), Milliradian (Mil), or Inch Per Hundred Yards (IPHY)">Reticle Units</label>
				<div class="input-group margin-bottom-sm">
	                <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-spinner fa-fw"></i></div></div>
					<select name="reticleUnits" [(ngModel)]="firearm.reticleUnits" #reticleUnitsControl="ngModel" class="form-control" required>
						<option [ngValue]='0'>Mil</option>
						<option [ngValue]='1'>MoA</option>
						<option [ngValue]='2'>IPHY</option>
					</select>
				</div>
				<div [hidden]="reticleUnitsControl.valid || reticleUnitsControl.pristine" class="alert alert-danger">
						Reticle units are required rangeing and hold overs
				</div>
			</div>
			<div class="form-group" [class.has-error]="elevationTurretGradientsControl.invalid && elevationTurretGradientsControl.dirty">
				<label class="control-label" data-toggle="tooltip" title="Number of elevation (up/down) turret clicks per turret unit.  Usually refered to as a fraction (ex: 1/4 MoA = 4 clicks per MoA)">Elevation Turret (clicks per unit)</label>
				<div class="input-group margin-bottom-sm">
	                <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-align-center fa-fw"></i></div></div>
					<select name="elevationTurretGradients" [(ngModel)]="firearm.elevationTurretGradients" #elevationTurretGradientsControl="ngModel" class="form-control">
						<option *ngIf='firearm.turretUnits!=0' [ngValue]='1'>1</option>
						<option *ngIf='firearm.turretUnits!=0' [ngValue]='2'>2</option>
						<option *ngIf='firearm.turretUnits!=0' [ngValue]='4'>4</option>
						<option *ngIf='firearm.turretUnits==0' [ngValue]='5'>5</option>
						<option *ngIf='firearm.turretUnits==0' [ngValue]='10'>10</option>
					</select>
					<select name="turretUnits" [(ngModel)]="firearm.turretUnits" #turretUnitsControl="ngModel" class="form-control" required>
						<option [ngValue]='0'>Mil</option>
						<option [ngValue]='1'>MoA</option>
						<option [ngValue]='2'>IPHY</option>
					</select>
				</div>
				<div [hidden]="elevationTurretGradientsControl.valid || elevationTurretGradientsControl.pristine" class="alert alert-danger">
						Elevation turret gradients allows values 1,2,4 or 5,10 (# clicks per turret unti 1,2,4 for MoA and IPHY, and 5 or 10 for Mil)
				</div>
			</div>
			<div class="form-group" [class.has-error]="windageTurretGradientsControl.invalid && windageTurretGradientsControl.dirty">
				<label class="control-label" data-toggle="tooltip" title="Number of windage (up/down) turret clicks per turret unit.  Usually refered to as a fraction (ex: 1/4 MoA = 4 clicks per MoA)">Windage Turret (clicks per unit)</label>
				<div class="input-group margin-bottom-sm">
	                <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-repeat fa-fw"></i></div></div>
					<select name="windageTurretGradients" [(ngModel)]="firearm.windageTurretGradients" #windageTurretGradientsControl="ngModel" class="form-control">
						<option *ngIf='firearm.turretUnits!=0' [ngValue]='1'>1</option>
						<option *ngIf='firearm.turretUnits!=0' [ngValue]='2'>2</option>
						<option *ngIf='firearm.turretUnits!=0' [ngValue]='4'>4</option>
						<option *ngIf='firearm.turretUnits==0' [ngValue]='5'>5</option>
						<option *ngIf='firearm.turretUnits==0' [ngValue]='10'>10</option>
					</select>
					<select name="turretUnits" [(ngModel)]="firearm.turretUnits" #turretUnitsControl="ngModel" class="form-control" required>
						<option [ngValue]='0'>Mil</option>
						<option [ngValue]='1'>MoA</option>
						<option [ngValue]='2'>IPHY</option>
					</select>
				</div>
				<div [hidden]="windageTurretGradientsControl.valid || windageTurretGradientsControl.pristine" class="alert alert-danger">
						Windage turret gradients allows values 1,2,4 or 5,10 (# clicks per turret unti 1,2,4 for MoA and IPHY, and 5 or 10 for Mil)
				</div>
			</div>
		</form>
	</div>
	<div class="card-footer" [class.collapse]="!isOpen">
		<div *ngIf="status==statusEnum.AddFirearm">
			<button type="submit" class="btn btn-success" [disabled]="form.pristine || form.invalid" (click)='save()'><i class="fa fa-check"></i> Save</button>&nbsp;
			<button class='btn btn-danger' (click)='close();'> Cancel</button>
		</div>
		<div *ngIf="status!=statusEnum.AddFirearm">
			<button type="submit" class="btn btn-success" [disabled]="form.pristine || form.invalid" (click)='save()'><i class="fa fa-check"></i> Save</button>&nbsp;
			<button class='btn btn-warning' (click)='close();'> Close</button>&nbsp;
			<button class='btn btn-danger' mwlConfirmationPopover [popoverTitle]="'Confirm Delete'" [popoverMessage]="'Delete this firearm?'" placement="top" (confirm)="delete()"> Delete</button>
		</div>
	</div>
</div>
