@charset "UTF-8";
/*
 Place CSS in Angular component styleUrls: [] when not re-used globally
 This helps ensure component specific CSS moves with the component
    and is removed from the project if the component is removed
*/
.animated {
    /* Keep in mind smartphones and tables are usually not capable of complex animations like cubic-bezier */
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.inline-block{ display: inline-block; }
input.ng-valid { border-left: 5px solid #42A948; /* green */}
input.ng-invalid { border-left: 5px solid #a94442; /* red */}
.sub-section {
    margin: 0 0 32px 0;
    padding: 16px 24px;
    background: #f5f6f7;
    border-left: 4px solid #8BC34A;
    border-radius: 4px;
}
@media (min-width: 768px) {
    body {
        padding-top: 80px;
    }
    .navbar-static-top { /* we use this instead of navbar-fixed-top so we can remove it on smaller screens */
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}
