.active {
    background-color: #555555;
    color: #eeeeee;}
li.card {
    cursor: pointer;
    width: 100%;
}
.card {
    width: 289px;
    margin-bottom: 10px;
}
.card-footer  {
    padding: 10px;
}
.well {
    font-size: 1.3em;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
@media (min-width: 576px) {
    .card {
        width: 282px;
    }
}
@media (min-width: 768px) {
    .card {
        margin-left: 5px;
        margin-right: 5px;
    }
}
