<div *ngIf='firearmId!=null && roundId==null && status!=statusEnum.AddRound' class="card">
    <div class="card-heading bg-dark text-light d-flex p-2">
		Select Round
		<i class="fa fa-fw ml-auto" [class.fa-chevron-right]="!isOpen" [class.fa-chevron-down]="isOpen" (click)="isOpen=!isOpen"></i>
	</div>
	<div class="card-body" [class.collapse]="!isOpen">
		<ul class="list-inline">
			<li *ngFor='let round of rounds' (click)='select(round);' class='card' >
				<div class="well">
					{{ round.name }}
				</div>
			</li>
		</ul>
	</div>
	<div class="card-footer" [class.collapse]="!isOpen">
		<button class="btn btn-default" (click)='add();'><span class="fa fa-plus"></span> Add Round</button>
	</div>
</div>
