<div *ngIf='ranges' class="card">
	<div class="card-heading bg-dark text-light d-flex p-2">
        Range Chart - Firearm ({{firearm.name}}) - Round ({{round.name}})
        <i class="fa fa-fw ml-auto" [class.fa-chevron-right]="!isOpen" [class.fa-chevron-down]="isOpen" (click)="isOpen=!isOpen"></i>
    </div>
    <div class="card-body" [class.collapse]="!isOpen">
        <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover font-size-small">
                <thead>
                    <tr>
                        <th data-toggle="tooltip" title="Range in yards from the muzzle to the bullet">
                            Range<br>{{target.distanceUnits===lengthEnum.Yards ? '(yards)': '(meters)'}}
                        </th>
                        <th data-toggle="tooltip" title="Velocity of the bullet in feet per second">
                            Velocity<br>(FPS)
                        </th>
                        <th class="d-none d-sm-table-cell" data-toggle="tooltip" title="Energy of the bullet on impact">
                            Energy<br>(FtLbs)
                        </th>
                        <th class="d-none d-sm-table-cell" data-toggle="tooltip" title="Time the bullet has been in flight since leaving the muzzle">
                            Time<br>(sec)
                        </th>
                        <th class="d-none d-sm-table-cell" data-toggle="tooltip" title="Amount of bullet drop in relation to the muzzle angle not the ground">
                            Drop<br>(inch)
                        </th>
                        <th class='d-none d-md-table-cell' data-toggle="tooltip" title="Bullet elevation above or below the target centerline">
                            Elevation<br>(inch)
                        </th>
                        <th *ngIf='showMil' data-toggle="tooltip" title="Bullet elevation above or below the target centerline">
                            Elevation<br>(Mil)
                        </th>
                        <th *ngIf='showMoA' data-toggle="tooltip" title="Bullet elevation above or below the target centerline">
                            Elevation<br>(MoA)
                        </th>
                        <th *ngIf='showIPHY' data-toggle="tooltip" title="Bullet elevation above or below the target centerline">
                            Elevation<br>(IPHY)
                        </th>
                        <th class='d-none d-md-table-cell' data-toggle="tooltip" title="Bullet drift left or right of the target centerline.  Drift is calculated at 90 degrees with velocity automatically adjusted from original wind direction.">
                            Wind<br>
                            {{weather.windVelocityMPH}} MPH<br>
                            {{weather.windAngleDegrees}} deg<br>
                            (inch)
                        </th>
                        <th *ngIf='showMil' data-toggle="tooltip" title="Bullet drift left or right of the target centerline.  Drift is calculated at 90 degrees with velocity automatically adjusted from original wind direction.">
                            Wind<br>
                            {{weather.windVelocityMPH}} MPH<br>
                            {{weather.windAngleDegrees}} deg<br>
                            (Mil)
                        </th>
                        <th *ngIf='showMoA' data-toggle="tooltip" title="Bullet drift left or right of the target centerline.  Drift is calculated at 90 degrees with velocity automatically adjusted from original wind direction.">
                            Wind<br>
                            {{weather.windVelocityMPH}} MPH<br>
                            {{weather.windAngleDegrees}} deg<br>
                            (MoA)
                        </th>
                        <th *ngIf='showIPHY' data-toggle="tooltip" title="Bullet drift left or right of the target centerline.  Drift is calculated at 90 degrees with velocity automatically adjusted from original wind direction.">
                            Wind<br>
                            {{weather.windVelocityMPH}} MPH<br>
                            {{weather.windAngleDegrees}} deg<br>
                            (IPHY)
                        </th>
                        <th class='d-none d-md-table-cell' data-toggle="tooltip" title="Amount of distance a moving target will cover during the time it takes for the bullet to travel from the muzzle to the target.">
                            Lead<br>
                            {{target.speedMPH}} MPH<br>
                            (inch)
                        </th>
                        <th *ngIf='showMil' data-toggle="tooltip" title="Amount of distance a moving target will cover during the time it takes for the bullet to travel from the muzzle to the target.">
                            Lead<br>
                            {{target.speedMPH}} MPH<br>
                            (Mil)
                        </th>
                        <th *ngIf='showMoA' data-toggle="tooltip" title="Amount of distance a moving target will cover during the time it takes for the bullet to travel from the muzzle to the target.">
                            Lead<br>
                            {{target.speedMPH}} MPH<br>
                            (MoA)
                        </th>
                        <th *ngIf='showIPHY' data-toggle="tooltip" title="Amount of distance a moving target will cover during the time it takes for the bullet to travel from the muzzle to the target.">
                            Lead<br>
                            {{target.speedMPH}} MPH<br>
                            (IPHY)
                        </th>
                        <th class='d-none d-md-table-cell' data-toggle="tooltip" title="Amount you will need to hold low on a target that is of either a higher or lower elevation than the shooting position.  Always aim low for both up and down slants.">
                            Slant<br>
                            {{target.slantDegrees}} deg<br>
                            (inch)
                        </th>
                        <th  *ngIf='showMil' data-toggle="tooltip" title="Amount you will need to hold low on a target that is of either a higher or lower elevation than the shooting position.  Always aim low for both up and down slants.">
                            Slant<br>
                            {{target.slantDegrees}} deg<br>
                            (Mil)
                        </th>
                        <th *ngIf='showMoA' data-toggle="tooltip" title="Amount you will need to hold low on a target that is of either a higher or lower elevation than the shooting position.  Always aim low for both up and down slants.">
                            Slant<br>
                            {{target.slantDegrees}} deg<br>
                            (MoA)
                        </th>
                        <th *ngIf='showIPHY' data-toggle="tooltip" title="Amount you will need to hold low on a target that is of either a higher or lower elevation than the shooting position.  Always aim low for both up and down slants.">
                            Slant<br>
                            {{target.slantDegrees}} deg<br>
                            (IPHY)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let range of ranges' [class.text-danger]="range.velocityFPS<=speedOfSound" [class.text-warning]="range.velocityFPS<=speedOfSound*1.2 && range.velocityFPS>speedOfSound">
                        <td>{{target.distanceUnits===lengthEnum.Yards ? range.rangeYards: range.rangeMeters}}</td>
                        <td>{{range.velocityFPS.toFixed(0)}}</td>
                        <td class="d-none d-sm-table-cell">{{range.energyFtLbs.toFixed(0)}}</td>
                        <td class="d-none d-sm-table-cell">{{range.timeSeconds.toFixed(3)}}</td>
                        <td class="d-none d-sm-table-cell">{{range.dropInches.toFixed(1)}}</td>
                        <td class='d-none d-md-table-cell'>{{range.verticalPositionInches.toFixed(1)}}</td>
                        <td *ngIf='showMil'>{{range.verticalPositionMil.toFixed(1)}}</td>
                        <td *ngIf='showMoA'>{{range.verticalPositionMoA.toFixed(1)}}</td>
                        <td *ngIf='showIPHY'>{{range.verticalPositionIPHY.toFixed(1)}}</td>
                        <td class='d-none d-md-table-cell'>{{range.crossWindDriftInches.toFixed(1)}}</td>
                        <td *ngIf='showMil'>{{range.crossWindDriftMil.toFixed(1)}}</td>
                        <td *ngIf='showMoA'>{{range.crossWindDriftMoA.toFixed(1)}}</td>
                        <td *ngIf='showIPHY'>{{range.crossWindDriftIPHY.toFixed(1)}}</td>
                        <td class='d-none d-md-table-cell'>{{range.leadInches.toFixed(1)}}</td>
                        <td *ngIf='showMil'>{{range.leadMil.toFixed(1)}}</td>
                        <td *ngIf='showMoA'>{{range.leadMoA.toFixed(1)}}</td>
                        <td *ngIf='showIPHY'>{{range.leadIPHY.toFixed(1)}}</td>
                        <td class='d-none d-md-table-cell'>{{range.slantDropInches.toFixed(1)}}</td>
                        <td *ngIf='showMil'>{{range.slantMil.toFixed(1)}}</td>
                        <td *ngIf='showMoA'>{{range.slantMoA.toFixed(1)}}</td>
                        <td *ngIf='showIPHY'>{{range.slantIPHY.toFixed(1)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
	<div class="card-footer text-light d-flex p-2 justify-content-around">
        <span class="text-warning">Orange text denotes transnonic flight</span>
        <span class="text-danger">Red text denotes subsonic flight</span>
    </div>
</div>
