<div class='home'>
    <div>
        <label class="btn btn-info" (change)="importData($event)">
            Import <input type="file" multiple="false" accept=".json" hidden>
        </label>
        &nbsp;
        <label class="btn btn-info" (click)="exportData()">Export</label>
    </div>
    <div>
        <div class='card'><app-weather></app-weather></div>
        <div class='card'><app-target></app-target></div>
        <div *ngIf="firearms!=null && firearmId==null && status!=statusEnum.AddFirearm" class='card'><app-firearms></app-firearms></div>
        <div *ngIf="firearmId!=null || status==statusEnum.AddFirearm" class='card'><app-firearm></app-firearm></div>
        <div *ngIf="firearmId!=null && roundId==null && status!=statusEnum.AddRound" class='card'><app-rounds></app-rounds></div>
        <div *ngIf="roundId!=null || status==statusEnum.AddRound" class='card'><app-round></app-round></div>
    </div>
    <div *ngIf='ranges'>
		<br/>
        <app-chart></app-chart>
		<br/>
        <button class='btn btn-success'(click)="graphType==='line' ? graphType='bar' : graphType='line'">Change Graph Type</button>
        <div>
            <div class="graph-inline">
                <h3>Velocity (feet/sec)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="velocityFPS" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='0'></d3-graph>
            </div>
            <div class="graph-inline">
                <h3>Energy (foot pounds)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="energyFtLbs" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='0'></d3-graph>
            </div>
            <div class="graph-inline">
                <h3>Time (seconds)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="timeSeconds" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='2'></d3-graph>
            </div>
            <div class="graph-inline">
                <h3>Drop (inches)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="dropInches" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='1'></d3-graph>
            </div>
            <div class="graph-inline">
                <h3>Elevation (inches)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="verticalPositionInches" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='1'></d3-graph>
            </div>
            <div class="graph-inline">
                <h3>Cross Wind Drift (inches)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="crossWindDriftInches" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='1'></d3-graph>
            </div>
            <div class="graph-inline">
                <h3>Lead (inches)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="leadInches" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='1'></d3-graph>
            </div>
            <div class="graph-inline">
                <h3>Slant Hold (inches - hold low)</h3>
                <d3-graph [type]="graphType" [data]="ranges" xKey="rangeYards" yKey="slantDegrees" [width]="graphWidth" [height]="graphHeight" labels='all' [yToFixed]='1'></d3-graph>
            </div>
        </div>
    </div>
</div>