.graph-inline {
    display: inline-block;
    padding: 0;
}
.home {
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
@media screen and (min-width: 576px) {
    .card {
        width: 49%;
    }
}
@media screen and (min-width: 768px) {
    .card {
        width: 32%;
    }
}
@media screen and (min-width: 992px) {
    .card {
        width: 24%;
    }
}
