.graph-inline {
    display: inline-block;
    padding: 0;
}
.home {
    padding-top: 5px;
    text-align: center;
    width: 100%;
}
.card {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .card {
        width: 49%;
    }
}
@media screen and (min-width: 900px) {
    .card {
        width: 32%;
    }
}
@media screen and (min-width: 1200px) {
    .card {
        width: 24%;
    }
}
