
:root {    
  --color-blue: #337ab7;
  --color-info: #5bc0de;
  --color-success: #5cb85c;
  --color-warning: #f0ad4e;
  --color-danger: #d9534f;
}
.ballistics-chart .card-body {
	padding: 5px
}
.ballistics-chart .card-footer {
	background-color: rgb(227, 229, 237);
}
.ballistics-chart .font-size-small {
	font-size: 0.7em;
}
.ballistics-chart .tooltip {
	position: fixed;
}
.ballistics-form .card {
    margin-bottom: 10px;
    width: 289px;
}
.ballistics-form .card-body  {
    height: 490px;
}
.ballistics-form .card-footer  {
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.ballistics-form .control-label {
    margin-bottom: 0;
}
.ballistics-form .form-group {
    margin-bottom: 5px;
    text-align: left;
}
.ballistics-form input:valid { border-left: 5px solid #42A948; /* green */}
.ballistics-form input:invalid { border-left: 5px solid #a94442; /* red */}
.ballistics-form li.card {
    cursor: pointer;
    width: 100%;
}
.ballistics-form .well {
    font-size: 1.3em;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}
@media screen and (min-width: 576px) {
    .ballistics-chart .font-size-small {
        font-size: 0.8em;
    }
    .ballistics-form .card {
        width: 282px;
    }
}
@media screen and (min-width: 768px) {
    .ballistics-form .card {
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media (min-width: 992px) {
    .ballistics-chart .font-size-small {
        font-size: 0.9em;
    }
}
@media (min-width: 1200px) {
    .ballistics-chart .card {
        width: 1200px;
    }
}



